header{
    color: white;
    background-color: black;
    width: 65%;
    display: flex;
    margin-left: 296px;
}

.header-left .headphone{
    margin-top: 11px;
    margin-left: 16px;
    font-size: 53px;
    color: orange;
}
.header-left .text-headphone{
    font-size:40px;
    color: orange;

}
.header-left .title{
    text-align: center;
    margin-left: 23px;

}

.header-left .tiitle-nut{
    font-weight: 700;
    padding: 8px;
    margin-left: 148px;
    margin-top: 13px;
    margin-bottom: 34px;
    background-color: orange;
    /* color: floralwhite; */
    box-shadow: 2px 3px 5px 0px #5454fa;
}




.header-right{
    margin-left: 231px;

}
.header-right .tong{
    margin-top: 15px;
    margin-bottom: 10px;
}
.header-right .tong .btn:first-child{
    margin-right: 23px;

}
.header-right .tong .btn{
    font-weight: 600;
    background-color: orange;
    padding: 1px 29px; 

}

.btn:hover{
    background-color: black;
    color: white;
}

.header-right .lien-he2{
    margin-left: 36px;
}
.header-right .lien-he3{
    margin-left: 144px;
}

input{
    padding-left: 5px;
    padding-bottom: 6px;
    padding-top: 3px;
    padding-right: 197px;
    margin-left: 523px;
    margin-top: 22px;
    
}

.btn-phu{
    padding: 5px 37px;
    background-color: orange;
    border: 1px solid black;
    box-shadow: 2px 3px black;

}
.btn-phu:hover{
    background-color:rgba(0, 0, 0, 0.753);
    color: white;
}


.thongbao{
    padding: 8px 25px;
    background-color: orange;
    width: 355px;
    font-size: 16px;
    font-weight: bolder;
    /* left: 50%; */
    margin-left: 38%;
    text-align: center;
    margin-top: 11px;
    box-shadow: 1px 2px black;
}
.dangnhap{
    background-color: red;
}
.dangky{
    background-color: aqua;
}